/*GENERAL*/


:root {
    /*COLORS*/
   --body-color: #a35a06cc;
    --text-color1: white;
    --text-color2: #6A6A69;
    --gradient-contact:linear-gradient(to right, rgb(173, 147, 114), rgb(131, 107, 88));
    /*TEXT-SIZES*/
    --title-sizeM: 2.2em;
    --title-sizeT: 3.9em;
    --title-sizeD: 4em;
    --p-sizeM: 1.3em;
    --p-sizeT: 2.1em;
    --p-sizeD: 3em;

}

* {
    font-family: 'Poppins', sans-serif;
    text-shadow: rgba(69, 69, 69, 0.855) .5px .5px 1.2px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
body {
background-color: var(--body-color);
    background: linear-gradient(180deg, #b48f5b 11%, rgb(156, 108, 74) 100%);

}*/


a{
    text-decoration: none;
}


/**PAGE1**/
.footer-open-page p{
    font-weight: bold;
    font-family: 'Righteous', cursive;
    
}



/**PAGE4**/

#second-quote{
    background-image: url(../images/Sfondo.jpg);
}

.p-quote-main p{
    color: var(--text-color1);  
     font-weight: bold;
}

.p-author-quote p {
color: var(--text-color1);
}


/**PAGE6**/

.title-catalog h2{
color: black;
}

.p-catalog p{
    color: black;
}
