/*GENERAL*/

:root {
    /*COLORS*/
   --body-color: #a35a06cc;
    --text-color1: white;
    --text-color2: #6A6A69;
    /*TEXT-SIZES*/
    --title-sizeM: 2em;
    --title-sizeT: 3.5em;
    --title-sizeD: 3.5em;
    --p-sizeM: 1.3em;
    --p-sizeT: 2.1em;
    --p-sizeD: 3em;

}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
background-color: var(--body-color);
    background: linear-gradient(180deg, #b48f5b 11%, rgb(156, 108, 74) 100%);

}


a{
    text-decoration: none;
}


/*******************************MOBILE*********************************/


@media screen and (max-width: 767px) {

/***********FIRST-QUOTE***********/

    .wrapper {
        margin: 0 10px 0 10px;
    }


    /********OPEN-PAGE*********/


    #open-page {
        background-image: url(../images/foto-gazzelle.png);
        
        background-size: cover;
        
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;

    }


    /****LOGO****/
    .logo img {
        max-width: 50%;
        border-radius: 55%;
    }

    .logo {
        text-align: center;
    }



    /****CONTENT-OPEN-PAGE****/

    .content-open-page {
        padding: 40px 0 0 20px;

    }


    .title-open-page h1 {
        font-size: var(--title-sizeM);
        font-family: 'Shippori Mincho', serif;
        text-align: center;
    }

    .p-open-page {
        text-align: center;
    }


    .p-open-page p {
        font-size: var(--p-sizeM);
    }

    .p-quote-author p {
        font-size: 1em;
    }

    /****FOOTER***/


    .footer-open-page {
        margin-top: 50px;
        text-align: center;
        font-size: .7em;
    }



    /****FIRST-QUOTE****/

    #first-quote {
        background-image: url("../images/Sfondo.jpg");
        height: 120vh;
    }


    .content-thomas {
        display: flex;
        flex-direction: column-reverse;
    }


    .content-thomas h2,
    p {
        text-align: center;
        color: var(--text-color1);
    }

    .titleSection2 h2 {
        font-size: var(--title-sizeM);
        margin: 0;
        padding: 50px 30px 25px 20px;
        text-align: center;
    }

    .pSection2 p {
        font-size: 1.6em;
        padding: 20px 50px 70px 50px;

    }

    /*IMG-PORTRAIT*/
    #img-portrait img {
        width: 80%;
        padding: 20px 10px 20px 10px;
    }

    #img-portrait {
        text-align: center;
    }


    /************WHO-ARE-WE************/


    /*CONTENT*/

    #who-are-we {
        height: 190vh;
    }


    .content-who-are-we p,
    h2 {
        color: var(--text-color1);

    }


    .content-who-are-we {
        display: flex;
        flex-direction: column;
    }


    .titleSection3 h2 {
        font-size: var(--title-sizeM);
        text-align: center;
        padding: 50px 25px 25px 25px;
        margin-bottom: 0;
        margin-top: 70px;
    }

    .content-who-are-we p {
        text-align: start;
        font-size: 1em;
        padding: 20px 45px 50px 45px;

    }


    /*IMG-CHILDREN*/
    .img-children img {
        width: 90%;
        padding: 10px 25px 0 25px;


    }

    .img-children {
        text-align: center;

    }

    /***************SECOND-QUOTE************/

    .content-second-quote {
        display: flex;
        flex-direction: column;
    }


    .pSection4 p {
        text-align: center;
        font-size: var(--p-sizeM);
        padding: 20px 45px 50px 45px;

    }


    /*IMG-CHILDREN-SECOND-QUOTE*/


    #second-quote {
        height: 80vh;
    }


    .p-second-quote p {
        padding: 20px 40px 0 40px;
        text-align: start;
        font-size: var(--p-sizeM);
    }


    .p-author-quote p {
        padding: 20px 40px 0 40px;
        text-align: start;
        font-size: 1.2em;
    }



    /******IMG*****/

    .img-children-second-quote {
        text-align: center;

    }

    .img-children-second-quote img {
        width: 90%;
        padding: 10px 25px 0 25px;

    }



    /*************WHY-SANKARA***********/



    #why-sankara {
        height: 260vh;
    }


    .content-why-sankara {
        display: flex;
        flex-direction: column;
    }


    .title-why-sankara h2 {
        font-size: var(--title-sizeM);
        text-align: center;
        padding: 50px 25px 25px 25px;
        margin-bottom: 0;
        margin-top: 70px;
    }

    .p-why-sankara p {
        text-align: start;
        font-size: .8em;
        padding: 20px 45px 50px 45px;

    }


    /*******IMG*****/
    .img-city img {
        width: 90%;
        padding: 10px 25px 0 25px;

    }

    .img-city {
        text-align: center;

    }


    /*****CATALOG*****/

#catalog{
    background-image: url(../images/catalog.jpg);
    background-size: cover;
}

    .content-catalog {
        display: flex;
        flex-direction: column;
    }






    .title-catalog h2 {
        font-size: var(--title-sizeM);
        text-align: center;
        padding: 50px 25px 25px 25px;
        margin-bottom: 0;
        margin-top: 70px;
        color: black;
    }

    .p-catalog p {
        text-align: start;
        font-size: var(--p-sizeM);
        padding: 20px 45px 50px 45px;
color: black;
    }



    /*****CONTACT*****/

    .title-contact h2 {
        font-size: var(--title-sizeM);
        text-align: center;
        padding: 50px 25px 25px 25px;
        margin-bottom: 0;
        margin-top: 70px;
    }



.content-contact{
display: column;

}


.info ul li{
    list-style: none;
    margin-bottom: 30px;
    font-size: 1.3em;
}

.info{
    padding: 30px 50px 10px 50px;
}


/****MAIL******/


.mail-icon a{
    display: flex;
    gap: 20px;
}

 i.fa-regular {
font-size: 2em;
}


/****POSITION*****/
.position-icon a{
    display: flex;
    gap: 30px;
}

i.fa-solid{
    font-size: 1.8em;
}

/*****TELEPHONE*****/

.tel-icon a{
    display: flex;
    gap: 25px;
}



/*****IVA-ICON*****/
.iva-icon {
    display: flex;
    gap: 36px;
    margin-left: 13px;
   
}

.iva-icon li{
    margin-top: 8px;
}
 
 /*******IMG*****/
    .img-contact img {
        max-width: 80%;
border-radius: 70%;
object-fit: cover;
    }

    .img-contact {
        text-align: center;
        margin-bottom: 30px;
    }





}






/**************************************TABLET****************************/


@media screen and (min-width: 768px) and (max-width: 1023px) {


    .wrapper {
        margin: 0 50px 0 50px;
    }


    /********OPEN-PAGE*********/


    #open-page {
        background-image: url(../images/foto-gazzelle.png);
        background-size: 100% 58vh;
        background-repeat: no-repeat;
        background-position: center;

    }


    /****LOGO****/
    .logo img {
        max-width: 20%;
        border-radius: 55%;
    }

    .logo {
        text-align: center;
    }



    /****CONTENT-OPEN-PAGE****/

    .content-open-page {
        padding: 40px 0 0 20px;

    }



    .title-open-page h1 {
        font-size: var(--title-sizeT);
        font-family: 'Shippori Mincho', serif;
        text-align: center;
    }

    .p-open-page {
        text-align: center;
    }


    .p-open-page p {
        font-size: var(--p-sizeT);
    }

    .p-quote-author p {
        font-size: 1em;
    }

    /****FOOTER***/


    .footer-open-page {
        margin-top: 50px;
        text-align: center;
        font-size: .7em;
    }



    /******FIRST-QUOTE******/

    #first-quote {
        background-image: url("../images/Sfondo.jpg");
 
    }


    .content-thomas {
        display: flex;
        flex-direction: column-reverse;
    }


    .content-thomas h2,
    p {
        text-align: center;
        color: var(--text-color1);
    }

    .titleSection2 h2 {
        font-size: var(--title-sizeT);
        margin: 0;
        padding: 50px 30px 25px 20px;
        text-align: center;
    }

    .pSection2 p {
        font-size: 1.6em;
        padding: 20px 70px 70px 70px;
margin: 0 90px 0 90px;
    }

    /*IMG-PORTRAIT*/
    #img-portrait img {
        width: 80%;
        padding: 20px 10px 20px 10px;
    }

    #img-portrait {
        text-align: center;
    }


    /************WHO-ARE-WE************/


    /*CONTENT*/



    #who-are-we{
        margin: 100px 0 100px 0;
    }

    .content-who-are-we p,
    h2 {
        color: var(--text-color1);

    }


    .content-who-are-we {
        display: flex;
        flex-direction: column;
    }


    .titleSection3 h2 {
        font-size: var(--title-sizeT);
        text-align: center;
        padding: 50px 25px 25px 25px;
        margin-bottom: 0;
        margin-top: 70px;
    }

    .content-who-are-we p {
        text-align: start;
        font-size: var(--p-sizeT);
        padding: 20px 60px 50px 60px;

    }


    /*IMG-CHILDREN*/
    .img-children img {
        width: 90%;
        padding: 10px 25px 0 25px;


    }

    .img-children {
        text-align: center;

    }

    /***************SECOND-QUOTE************/



#second-quote{
    margin: 100px 0 100px 0;

}


    .content-second-quote {
        display: flex;
        flex-direction: column;
    }



    .p-second-quote p {
        padding: 20px 60px 0 60px;
        text-align: start;
        font-size: var(--p-sizeT);
    }




    /******IMG*****/

    .img-children-second-quote {
        text-align: center;
margin-top: 100px;
    }

    .img-children-second-quote img {
        width: 90%;
        padding: 10px 25px 0 25px;

    }



    /*************WHY-SANKARA***********/


#why-sankara{
    margin: 100px 0 100px 0;
}



    .content-why-sankara {
        display: flex;
        flex-direction: column;
        
    }


    .title-why-sankara h2 {
        font-size: var(--title-sizeT);
        text-align: center;
        padding: 50px 25px 25px 25px;
        margin-bottom: 0;
        margin-top: 70px;
    }

    .p-why-sankara p {
        text-align: start;
        font-size: var(--p-sizeT);
        padding: 20px 65px 50px 65px;

    }


    /*******IMG*****/
    .img-city img {
        width: 90%;
        padding: 10px 25px 0 25px;

    }

    .img-city {
        text-align: center;

    }


    /*****CATALOG*****/


    .content-catalog {
        display: flex;
        flex-direction: column;
    }


    .title-catalog h2 {
        font-size: var(--title-sizeT);
        text-align: center;
        padding: 50px 25px 25px 25px;
        margin-bottom: 0;
        margin-top: 70px;
    }

    .p-catalog p {
        text-align: start;
        font-size: var(--p-sizeT);
        padding: 20px 30px 50px 30px;
        margin: 0 90px 0 90px;
    }



    /*****CONTACT*****/


#contact{
    margin: 0 100px 0 100px;
}


    .title-contact h2 {
        font-size: var(--title-sizeT);
        text-align: center;
        padding: 50px 25px 25px 25px;
        margin-bottom: 0;
        margin-top: 70px;
    }



.content-contact{
display: column;

}


.info ul li{
    list-style: none;
    margin-bottom: 30px;
    font-size: 1.3em;
}

.info{
    padding: 30px 50px 10px 50px;
  
}


/****MAIL******/

.mail-icon a{
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

 i.fa-regular {
font-size: 2em;
}


/****POSITION*****/
.position-icon{
    margin-left: 30px;
}

.position-icon a{
    display: flex;
    gap: 30px;
    justify-content: center;
}

i.fa-solid{
    font-size: 1.8em;
}

/*****TELEPHONE*****/

.tel-icon{
    margin-left: -5px ;
}

.tel-icon a{
    display: flex;
    gap: 22px;
    justify-content: center;
}



/*****IVA-ICON*****/
.iva-icon {
    display: flex;
    gap: 36px;
    margin-left: 13px;
    justify-content: center;
   
}

.iva-icon li{
    margin-top: 8px;
}
 
 /*******IMG*****/
    .img-contact img {
        max-width: 80%;
border-radius: 70%;
object-fit: cover;
    }

    .img-contact {
        text-align: center;
        margin-bottom: 30px;
    }


}




/***********************DESKTOP******************************/



@media screen and (min-width: 1024px) {

    /********OPEN-PAGE*********/

    #open-page {
        background-image: url(../images/foto-gazzelle.png);
        height: 110vh;

    }


    /****LOGO****/
    .logo img {
        max-width: 50%;
        border-radius: 55%;
    }

    .logo {
        text-align: center;
    }



    /****CONTENT-OPEN-PAGE****/

    .content-open-page {
        padding: 90px 0 0 20px;
        max-width: 35%;

    }

    .title-open-page {
        text-align: center;
    }

    .title-open-page h1 {
        font-size: var(--title-sizeD);
        font-family: 'Shippori Mincho', serif;
    }

    .p-open-page {
        text-align: center;
    }


    .p-open-page p {
        font-size: var(--p-sizeD);
    }

    .p-quote-author p {
        font-size: 1.6em;
    }

    /****FOOTER***/

    .footer-open-page {
        margin-top: 300px;
        text-align: center;
        font-size: 1.3em;
    }



    /**************FIRST-QUOTE**********/

    #first-quote {
        background-image: url("../images/Sfondo.jpg");

    }


    .content-thomas {

        margin: 0 50px;
        display: flex;
        flex-direction: row;
        max-width: 80%;
    }


    .content-thomas h2,
    p {
        color: var(--text-color1);
    }


    .titleSection2 {
        max-width: 100%;

    }

    .titleSection2 h2 {
        font-size: var(--title-sizeD);
        padding: 90px 20px 10px 10px;
        text-align: end;
        margin-right: 160px;


    }


    .pSection2 {
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 30px;
        max-width: 100%;

    }

    .pSection2 p {
        font-size: var(--p-sizeD);
        padding: 20px 10px 10px 10px;
        text-align: start;

    }



    /*IMG-PORTRAIT*/

    #img-portrait {
        text-align: center;
        margin-top: 30px;
        margin-right: 50px;
        max-width: 50%;
    }

    #img-portrait img {
        max-width: 80%;
        padding: 10px 0 30px 30px;
        margin-left: 20px;
        margin-bottom: 90px;
        margin-right: -60px;
        margin-top: -80px;

    }

    /***************WHO-ARE-WE****************/

    /*CONTENT*/

    #who-are-we {
        height: 170vh;
         margin: 0 70px;
    }


    .content-who-are-we {
        display: flex;
        margin-top: 20px;
    }


    .titleSection3 {
        max-width: 100%;

    }

    .titleSection3 h2 {
        font-size: 3.2em;
        padding: 90px 20px 10px 10px;
        text-align: end;
        margin-right: 160px;


    }


    .pSection3 p {
        font-size: 1.5em;
        text-align: start;
        margin-top: 0;
        padding: 20px 40px 10px 30px;

    }

    .pSection3 {
        max-width: 50%;
    }


    /*IMG-CHILDREN*/
    .img-children img {
        max-width: 100%;
        margin-top: 10px;
        padding: 20px 30px 50px 30px;

    }

    .img-children {
        text-align: center;

    }


    /************SECOND-QUOTE*************/




    #second-quote {
        height: 100vh;
    }



    .content-second-quote {

        margin: 0 50px;
        display: flex;
        flex-direction: row;
        max-width: 100%;
    }


    .content-second-quote h2,
    p {
        color: var(--text-color1);
    }



    .p-second-quote {
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 30px;
        max-width: 100%;

    }

    .p-second-quote p {
        font-size: var(--p-sizeD);
        padding: 20px 10px 10px 30px;
        text-align: start;

    }



    /*IMG*/

    .img-children-second-quote {
        text-align: center;
        margin-top: 30px;
        margin-right: 50px;
        max-width: 50%;

    }

    .img-children-second-quote img {
        max-width: 100%;
        padding: 10px 10px 30px 30px;
        margin-left: -130px;
        margin-right: -70px;

    }

    /**************WHY SANKARA**********/

    #why-sankara {
        height: 100vh;
    }


    .content-why-sankara {
        display: flex;
        margin-top: 20px;
    }


    .title-why-sankara {
        max-width: 100%;

    }

    .title-why-sankara h2 {
        font-size: 3.2em;
        padding: 90px 20px 10px 10px;
        text-align: end;
        margin-right: 160px;


    }


    .p-why-sankara p {
        font-size: 1em;
        text-align: start;
        margin-top: 0;
        padding: 20px 40px 10px 30px;

    }

    .p-why-sankara {
        max-width: 50%;
    }


    /*IMG-CHILDREN*/
    .img-city img {
        max-width: 80%;
        margin-top: 30px;


    }

    .img-city {
        text-align: center;
        max-width: 50%;
    }



    /********CATALOG********/

    #catalog {
        background-image: url(../images/catalog.jpg);
        height: 90vh;
        background-size: cover;
    }


.title-catalog h2{
    font-size: var(--title-sizeD);
margin-left: 50px;
}

.p-catalog p{
font-size: var(--p-sizeD);
padding: 30px 50px 40px 50px;
margin-right: 300px;
color: #4f4f4fa7;
}



    /*********CONTACT********/

    #contact {
        height: 80vh;
    }

.content-contact{
display: flex;

}


.info ul li{
    list-style: none;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.info{
    padding: 30px 10px 10px 20px;
}


    .title-contact h2 {
        font-size: var(--title-sizeD);
        padding: 90px 10px 10px 30px;
        text-align: center;
        margin-bottom: 80px;
    }

/****MAIL******/
.icon a{
    display: flex;
    gap: 20px;
}

 i.fa-regular {
font-size: 2.2em;
}


/****POSITION*****/
.icon a{
    display: flex;
    gap: 30px;
}

i.fa-solid{
    font-size: 2.2em;
}

/*****TELEPHONE*****/

.icon a{
    display: flex;
    gap: 25px;
}



/*****IVA-ICON*****/
.icon{
    display: flex;
    gap: 36px;
    margin-left: 13px;
   
}

.icon li{
    margin-top: 8px;
}
 

    .img-contact img {
        max-width: 70%;
border-radius: 70%;
object-fit: cover;
    }

    .img-contact {
        text-align: center;
    }






}