/*GENERAL*/


:root {
    /*COLORS*/
   --body-color: #a35a06cc;
    --text-color1: white;
    --text-color2: #6A6A69;
    /*TEXT-SIZES*/
    --title-sizeM: 2em;
    --title-sizeT: 3.5em;
    --title-sizeD: 3.5em;
    --p-sizeM: 1.3em;
    --p-sizeT: 2.1em;
    --p-sizeD: 3em;

}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
background-color: var(--body-color);
    background: linear-gradient(180deg, #b48f5b 11%, rgb(156, 108, 74) 100%);

}


a{
    text-decoration: none;
}

.footer-open-page p{
    font-weight: bold;

    font-family: 'Righteous', cursive;
    
}
