
@media screen and (max-width: 767px) {


    /*************WHY-SANKARA***********/



    #why-sankara {
       
        min-height: 140vh;
        background-color: rgb(240, 240, 240);
}

    .content-why-sankara {
        display: flex;
        flex-direction: column-reverse;
      
    }


    h2.title-why-sankara  {
        font-size: 2.1em;
       margin-bottom: 20px;
       margin-top: 50px;
    }

    .p-why-sankara{
        padding: 20px 45px 50px 45px;
    }

    .p-why-sankara p {
        text-align: start;
        font-size: .9em;
      

    }


    /*******IMG*****/
    #img-city img {
        width: 80%;
        padding: 10px 25px 0 25px;
        border-radius: 50%;
    }

    #img-city {
        text-align: center;

    }
}





@media screen and (min-width: 768px) and (max-width: 1023px) {


    /*************WHY-SANKARA***********/

    #why-sankara {
        min-height: 180vh;
        background-color: rgb(240, 240, 240);
      
}


.content-why-sankara {
padding: 90px 55px 60px 55px;
flex-direction: column-reverse;    
display: flex;
  
}




h2.title-why-sankara  {
font-size: 2.8em;
text-align: start;
margin-bottom: 40px;
}

.p-why-sankara p {
font-size: 1.2em;
text-align:start;


}

/*IMG-PORTRAIT*/
#img-city img {
width: 100%;
margin-top: 70px;
border-radius: 50%;
}

#img-city {
text-align: center;

}
}





@media screen and (min-width: 1024px) {

    /**************WHY SANKARA**********/


    #why-sankara{
        display: flex;
        justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    }
    
    .content-why-sankara{
        min-height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
h2.title-why-sankara {
    
    font-size: 3.2em;
    margin-bottom: 40px;
}

    .p-why-sankara{
        max-width: 700px;
     padding: 0 100px 50px 30px;
        font-size: 1em;
    
    }

    #img-city img{
        max-width: 90%;
        margin-top: 40px;
border-radius: 50%;
    }

    #img-city{
        padding-left: 60px;
      max-width: 100%;
    }

}

/******MONITOR****


#img-city img{
    max-width: 100%;
    margin-top: 40px;
}

#img-city{
    padding-left: 100px;
  max-width: 90%;
}


.p-why-sankara {
    max-width: 53%;
 padding: 0 300px 50px -100px;
  
}
.p-why-sankara p{
    font-size: 1.3em;
}

h2.title-why-sankara{
    font-size: 3.5em;
}****/