@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&family=Lilita+One&family=Pangolin&family=Poppins:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:wght@100&family=Shippori+Mincho:wght@400;500&display=swap');

/*******************************MOBILE*********************************/


@media screen and (max-width: 767px) {

    /********OPEN-PAGE*********/

    #open-page{
    
        min-width: 100%;
        max-height: 90vh;
        background-size:cover;
        color:  white;
       background-image: url(../images/foto-gazzelle.jpg);
      background-repeat: no-repeat;
        }
    
    /*****VIDEO******/
    
        #open-page video{
          
            width: 0;
            display: none;
        }


   .content-open-page{
       position: relative;
       z-index: 10;
       max-width: 100%;
     display: flex;
     flex-direction: column;
       justify-content: center;
       align-items: center;
   }
    /****LOGO****/
    .logo img {
        max-width: 50%;
        border-radius: 55%;  
        border: .5px solid rgba(115, 115, 115, 0.621);
    }

    .logo {
        text-align: center;
        margin-bottom: -10px;  
      animation: logo-anim 1.6s ease-in forwards;
opacity: 0;

    }


    @keyframes logo-anim {
        0%{
opacity: 0;
        }
        100%{
opacity: 1;
        }
    }
    /****CONTENT-OPEN-PAGE****/

    .content-open-page {
        padding: 40px 0 0 20px;

    }


    .title-open-page h1 {
        font-size: 3em;
        font-family: 'Shippori Mincho', Verdana, Arial;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.42) 0 0 0.1em;
    }

    .p-open-page {
        text-align: center;
    }


    .p-open-page p {
        font-size: 1.1em;
        text-shadow: rgba(0, 0, 0, 0.871) 0 0 0.1em;
    }

    .p-quote-author p {
        font-size: .7em;
        text-shadow: rgb(0, 0, 0) 0 0 0.1em;
    }

/**BUTTON CONTATTACI**/

#btn-contattaci{
text-align: center;
margin-top: 20px;
}

#btn-contattaci input{
border-color: rgba(84, 84, 84, 0.617);
padding: 4px 7px 4px 7px;
background-color: rgba(167, 167, 167, 0.125);
border-radius: 45%;
min-width: 49%;
border: 1px solid rgba(224, 224, 224, 0.921);
cursor: pointer;
transition: ease-in-out all 0.4s;
font-weight:600;
font-size: .7em;
box-shadow: 0px 4px 3.5px rgba(72, 72, 72, 0.836);
text-shadow: 0 0 0.2em rgb(5, 5, 5);
color: rgba(255, 255, 255, 0.886);
}

    /****FOOTER***/

    .container-footer{
   
        z-index: 10;
        position: relative;
        flex-direction: column;
     display: flex;
        justify-content: flex-end;
     align-items: center;
 margin-top: 220px;
     
    }
    
    .content-footer p {
       font-size: .6em;
   opacity: .71;
      text-transform: uppercase;
      text-shadow: 3px 3px rgba(0, 0, 0, 0.696);
font-family: 'Righteous', cursive;
letter-spacing: .5px;
   padding-bottom: 50px;
    }

}

/**************TABLET****************/

@media screen and (min-width: 768px) and (max-width: 1023px) {

/********OPEN-PAGE*********/

#open-page{
    
    width: 100%;
    right: 0;
    min-height: 100vh;
    color:  white;
   
    }

/*****VIDEO******/

    
    #open-page video{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    

   .content-open-page{
    position: relative;
    z-index: 10;
    max-width: 100%;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}

/****LOGO****/
.logo img {
    max-width: 22%;
    border-radius: 55%;
     border: .5px solid rgba(115, 115, 115, 0.621);
}

.logo {
    text-align: center;
    margin-bottom: -20px;  
    margin-bottom: -20px;   
    animation: logo-anim 1.6s ease-in forwards;
    opacity: 0;
}


    @keyframes logo-anim {
        0%{
opacity: 0;
        }
        100%{
opacity: 1;
        }
    }

/****CONTENT-OPEN-PAGE****/

.content-open-page {
    padding: 40px 0 0 20px;

}



.title-open-page h1 {
    font-size: 4.9em;
    font-family: 'Shippori Mincho', serif;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.69) 0 0 0.1em;
}

.p-open-page {
    text-align: center;
}


.p-open-page p {
    font-size: 1.6em;
    text-shadow: rgba(0, 0, 0, 0.809) 0 0 0.1em;
}

.p-quote-author p {
    font-size: .9em;
}



/**BUTTON CONTATTACI**/

#btn-contattaci{
text-align: center;
margin-top: 20px;
}

#btn-contattaci input{
border-color: rgba(84, 84, 84, 0.617);
padding: 3px 10px 3px 10px;
background-color: rgba(167, 167, 167, 0.196);
border-radius: 45%;
min-width: 25%;
border: 1px solid rgba(210, 210, 210, 0.921);
cursor: pointer;
transition: ease-in-out all 0.4s;
font-weight:600;
font-size: .9em;
box-shadow: 0px 2px 3px rgba(72, 72, 72, 0.836);
text-shadow: 0 0 0.1em rgb(5, 5, 5);
color: rgba(255, 255, 255, 0.873);
}

#btn-contattaci:active{
color: rgba(255, 255, 255, 0.386);
transform: scale(1.1)
}

#btn-contattaci:hover{
    transform: translateY(-3px);
   }


#btn-contattaci input:hover{
    background-color: rgba(255, 255, 255, 0.356);
    transition: .1s;
    }

/****FOOTER***/

.container-footer{
   
    z-index: 10;
    position: relative;
    flex-direction: column;
 display: flex;
    justify-content: flex-end;
 align-items: center;
 margin-top: 270px;
 
}


.content-footer p { 
    font-size: 1.1em;
opacity: .71;
   text-transform: uppercase;
   text-shadow: 3px 3px rgba(0, 0, 0, 0.696);
font-family: 'Righteous', cursive;
letter-spacing: .5px;
padding-top: -40px;
 
 }

}


/***********************DESKTOP******************************/



@media screen and (min-width: 1024px)  {

/********OPEN-PAGE*********/

#open-page{
    
    width: 100%;
    right: 0;
    min-height: 100vh;
    color:  white;
   
    }

/*****VIDEO******/

    
    #open-page video{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        
    }
    

.container-open-page{
     margin: 10px 200px 0 -70px;
     
}



    .content-open-page{
        position: relative;
        z-index: 10;
    padding: 10px 50px -50px 20px;
        max-width: 58%;
        min-width: 38%;
      display: flex;
      flex-direction: column;
        min-height: 80vh;
        justify-content: center;
    }
    



/****LOGO****/
.logo img {
    max-width: 50%;
    border-radius: 55%;
    border: .5px solid rgba(115, 115, 115, 0.621);
}

.logo {
    text-align: center;
    margin-bottom: -20px;   
animation: logo-anim 1.6s ease-in forwards;
opacity: 0;

}


    @keyframes logo-anim {
        0%{
opacity: 0;
        }
        100%{
opacity: 1;
        }
    }


/****CONTENT-OPEN-PAGE****/


.title-open-page {
    text-align: center;
}

.title-open-page h1 {
    font-size: 5.9em;
    font-family: 'Shippori Mincho', serif;
    text-shadow: rgba(0, 0, 0, 0.69) 0 0 0.1em;
   
}

.p-open-page {
    text-align: center;
}


.p-open-page p {
    font-size: 1.9em;
    font-style: italic;
    text-shadow: rgba(0, 0, 0, 0.855) 0 0 0.1em;
}

.p-quote-author p {
    font-size: 1.2em;
    text-shadow: rgba(0, 0, 0, 0.922) 0 0 0.1em;
}


/**BUTTON CONTATTACI**/

#btn-contattaci{
text-align: center;
margin-top: 30px;
}

#btn-contattaci input{
border-color: rgba(84, 84, 84, 0.617);
padding: 5px 10px 5px 10px;
background-color: rgba(167, 167, 167, 0.275);
border-radius: 45%;
min-width: 9%;
min-height: 30px;
border: 1px solid rgba(210, 210, 210, 0.921);
cursor: pointer;
transition: ease-in-out all 0.4s;
font-weight:600;
font-size: 1em;
box-shadow: 0px 2px 3px rgba(72, 72, 72, 0.836);
text-shadow: 0 0 0.2em rgb(5, 5, 5);
color: rgba(255, 255, 255, 0.942);

}


#btn-contattaci:active{
transform: scale(1.2)
 
}

#btn-contattaci:hover{
transform: translateY(-4px);

}
#btn-contattaci input:hover{
background-color: rgba(255, 255, 255, 0.356);
transition: .1s;
}

/****FOOTER***/


.container-footer{
   
    z-index: 10;
    position: relative;
    flex-direction: column;
 display: flex;
    justify-content: flex-end;
 align-items: center;
 margin-top: 60px;
 
}

.content-footer p {
   font-size: 1.1em;
opacity: .71;
   text-transform: uppercase;
   text-shadow: 3px 3px rgba(0, 0, 0, 0.696);
font-family: 'Righteous', cursive;
letter-spacing: .5px;
 
 }


/**
.footer-open-page {
   margin-top: 150px;
    padding: 150px 50px 50px 50px;
    text-align: center;
    font-size: 1.3em;
   
}**/
/**
.footer-open-page p{
    text-shadow: 0.1em 0.1em 0.1em rgba(148, 147, 147, 0.884);
    color: rgba(255, 255, 255, 0.843);
}**/




}

/******MONITOR***

#open-page{
background-image: url(../images/foto-gazzelle.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

#btn-contattaci input{
width: 20%;
}


.footer-open-page {
margin-bottom: 1px;
}
**/





