@media screen and (max-width: 767px) {
    /****FIRST-QUOTE****/

    #first-quote {
        background-image: url("../images/Sfondo.jpg");
                 min-height: 90vh;
    }


    .content-thomas {
padding: 50px 40px 50px 40px;
      flex-direction: column-reverse;    
      display: flex;
    
    }



    h2.title-first-quote  {
        font-size: 2.1em;
   text-align: center;
        margin-bottom: 25px;
    }

    .p-first-quote p {
        font-size: 1.3em;
    text-align: center;
    }

    /*IMG-PORTRAIT*/
    #img-portrait img {
        width: 93%;
        margin-top: 50px;
        
    }

    #img-portrait {
        text-align: center;
      
    }
}

/********************TABLET*******************/


@media screen and (min-width: 768px) and (max-width: 1023px) {


    #first-quote {
        background-image: url("../images/Sfondo.jpg");
                 min-height: 130vh;
    }


    .content-thomas {
padding: 60px 70px 60px 70px;
      flex-direction: column-reverse;    
      display: flex;
    }


    .content-thomas h2,
    p {
        text-align: center;
      
    }

    h2.title-first-quote  {
        font-size: var(--title-sizeT);
        text-align: center;
        margin-bottom: 40px;
    }

    .p-first-quote p {
        font-size: 2.4em;
        padding: 0 100px 0 100px;
    
    
    }

    /*IMG-PORTRAIT*/
    #img-portrait img {
        width: 85%;
        margin-top: 70px;
    }

    #img-portrait {
        text-align: center;
      
    }
}


/***************DESKTOP*************/

@media screen and (min-width: 1024px) {


    /**************FIRST-QUOTE**********/

    #first-quote {
        background-image: url("../images/Sfondo.jpg");
  display: flex;
        justify-content: center;
    align-items: center;
    }

    .content-thomas{
        min-height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
h2.title-first-quote {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 50px;
}

    .p-first-quote{
        max-width: 1000px;
  margin-left: -70px;
  padding: 0 80px 0 60px;
        
    }

    .p-first-quote p{
        text-align: center;
        font-size: 2.2em;
    }

    #img-portrait img{
        max-width: 80%;
        
    }

    #img-portrait{
        padding-left: 80px;
        max-width: 50%;
    }

}