
/*******************************MOBILE*********************************/


@media screen and (max-width: 767px) {

        /********OPEN-PAGE*********/
    
    
        #open-page {
            background-image: url(../images/foto-gazzelle.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
    
        }
    
    
        /****LOGO****/
        .logo img {
            max-width: 30%;
            border-radius: 55%;  
            border: .5px solid rgba(115, 115, 115, 0.621);
        }
    
        .logo {
            text-align: center;
            margin-bottom: -10px;  
          
        }
    
    
    
        /****CONTENT-OPEN-PAGE****/
    
        .content-open-page {
            padding: 40px 0 0 20px;
    
        }
    
    
        .title-open-page h1 {
            font-size: 3.2em;
            font-family: 'Shippori Mincho', serif;
            text-align: center;
            text-shadow: rgba(0, 0, 0, 0.69) 0 0 0.1em;
        }
    
        .p-open-page {
            text-align: center;
        }
    
    
        .p-open-page p {
            font-size: var(--p-sizeM);
            text-shadow: rgba(0, 0, 0, 0.809) 0 0 0.1em;
        }
    
        .p-quote-author p {
            font-size: 1em;
        }

/**BUTTON CONTATTACI**/

#btn-contattaci{
    text-align: center;
    margin-top: 20px;
}

#btn-contattaci input{
    border-color: rgba(187, 187, 187, 0.617);
    padding: 3px 2px 3px 2px;
    background-color: rgba(167, 167, 167, 0.196);
    border-radius: 5%;
    width: 15%;
    border: 1px solid rgb(190, 190, 190);
    cursor: pointer;
transition: ease-in-out all 0.4s;
font-weight:600;
font-size: .8em;
box-shadow: 0px 2px 3px rgb(188, 188, 188);
text-shadow: 0 0 0.1em rgba(5, 5, 5, 0.744);
}

#btn-contattaci:active{
   color: rgba(255, 255, 255, 0.386);
transform: scale(1.1)
}
    
    #btn-contattaci:hover{
        transform: translateY(-4px);
       
    }
    
        /****FOOTER***/

        .footer-open-page {
            margin-top: 500px;
            text-align: center;
            font-size: .7em;
    
        }
    

        .footer-open-page p{
            padding-bottom: 40px;
        }
    
    }

/**************TABLET****************/

@media screen and (min-width: 768px) and (max-width: 1023px) {


    .wrapper {
        margin: 0 50px 0 50px;
    }


    /********OPEN-PAGE*********/


    #open-page {
        background-image: url(../images/foto-gazzelle.png);
        background-size: 100% 100vh;
        background-repeat: no-repeat;
        background-position: center;

    }


    /****LOGO****/
    .logo img {
        max-width: 22%;
        border-radius: 55%;
         border: .5px solid rgba(115, 115, 115, 0.621);
    }

    .logo {
        text-align: center;
        margin-bottom: -20px;  
       
    }



    /****CONTENT-OPEN-PAGE****/

    .content-open-page {
        padding: 40px 0 0 20px;

    }



    .title-open-page h1 {
        font-size: 3.9em;
        font-family: 'Shippori Mincho', serif;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.69) 0 0 0.1em;
    }

    .p-open-page {
        text-align: center;
    }


    .p-open-page p {
        font-size: 1.4em;
        text-shadow: rgba(0, 0, 0, 0.809) 0 0 0.1em;
    }

    .p-quote-author p {
        font-size: .9em;
    }



/**BUTTON CONTATTACI**/

#btn-contattaci{
    text-align: center;
    margin-top: 20px;
}

#btn-contattaci input{
    border-color: rgba(187, 187, 187, 0.617);
    padding: 3px 2px 3px 2px;
    background-color: rgba(167, 167, 167, 0.196);
    border-radius: 5%;
    width: 17%;
    border: 1px solid rgb(190, 190, 190);
    cursor: pointer;
transition: ease-in-out all 0.4s;
font-weight:600;
font-size: 1em;
box-shadow: 0px 2px 3px rgb(188, 188, 188);
text-shadow: 0 0 0.1em rgba(5, 5, 5, 0.744);
}

#btn-contattaci:active{
   color: rgba(255, 255, 255, 0.386);
transform: scale(1.1)
}
    
    #btn-contattaci:hover{
        transform: translateY(-3px);
       
    }

    /****FOOTER***/


    .footer-open-page {
        padding-top: 370px;
        padding-bottom: 30px; 
        text-align: center;
        font-size: 1.1em;
    }


}


/***********************DESKTOP******************************/



@media screen and (min-width: 1024px)  {

    /********OPEN-PAGE*********/

    #open-page {
        background-image: url(../images/foto-gazzelle.png);
height: 110vh;
    }

    /****LOGO****/
    .logo img {
        max-width: 50%;
        border-radius: 55%;
        border: .5px solid rgba(115, 115, 115, 0.621);
    }

    .logo {
        text-align: center;
        margin-bottom: -20px;    }



    /****CONTENT-OPEN-PAGE****/

    .content-open-page {
        padding: 90px 0 0 20px;
        max-width: 35%;

    }

    .title-open-page {
        text-align: center;
    }

    .title-open-page h1 {
        font-size: 5.7em;
        font-family: 'Shippori Mincho', serif;
        text-shadow: rgba(0, 0, 0, 0.69) 0 0 0.1em;
       
    }

    .p-open-page {
        text-align: center;
    }


    .p-open-page p {
        font-size: 2em;
        font-style: italic;
        text-shadow: rgba(0, 0, 0, 0.809) 0 0 0.1em;
    }

    .p-quote-author p {
        font-size: 1.2em;
        text-shadow: rgba(0, 0, 0, 0.777) 0 0 0.1em;
    }


/**BUTTON CONTATTACI**/

#btn-contattaci{
    text-align: center;
    margin-top: 20px;
}

#btn-contattaci input{
    border-color: rgba(187, 187, 187, 0.617);
    padding: 3px 2px 3px 2px;
    background-color: rgba(167, 167, 167, 0.196);
    border-radius: 5%;
    width: 30%;
    border: 1px solid rgb(190, 190, 190);
    cursor: pointer;
transition: ease-in-out all 0.4s;
font-weight:600;
font-size: 1em;
box-shadow: 0px 2px 3px rgb(188, 188, 188);
text-shadow: 0 0 0.1em rgba(5, 5, 5, 0.744);

}


#btn-contattaci:active{
transform: scale(1.2)
}

#btn-contattaci:hover{
    transform: translateY(-4px);
   
}

    /****FOOTER***/

    .footer-open-page {
       margin-top: 150px;
        padding: 150px 50px 50px 50px;
        text-align: center;
        font-size: 1.3em;
    }


}
