@media screen and (max-width: 767px) {
    /****FIRST-QUOTE****/

    #first-quote {
        background-image: url("../images/Sfondo.jpg");
       
    }


    .content-thomas {
        display: flex;
        flex-direction: column;
    }


    .content-thomas h2,
    p {
        text-align: center;
        color: var(--text-color1);
    }

    .title-first-quote h2 {
        font-size: var(--title-sizeM);
        margin: 0;
        padding: 50px 30px 25px 20px;
        text-align: center;
    }

    .p-first-quote p {
        font-size: 1.6em;
        padding: 20px 50px 70px 50px;

    }

    /*IMG-PORTRAIT*/
    #img-portrait img {
        width: 80%;
        padding: 20px 10px 20px 10px;
    }

    #img-portrait {
        text-align: center;
    }
}

/********************TABLET*******************/


@media screen and (min-width: 768px) and (max-width: 1023px) {


    /******FIRST-QUOTE******/

    #first-quote {
        background-image: url("../images/Sfondo.jpg");

    }


    .content-thomas {
        display: flex;
        flex-direction: column-reverse;
    }


    .content-thomas h2,
    p {
        text-align: center;
        color: var(--text-color1);
    }

    .title-first-quote h2 {
        font-size: var(--title-sizeT);
        margin: 0;
        padding: 50px 30px 25px 20px;
        text-align: center;
    }

    .p-first-quote p {
        font-size: 1.6em;
        padding: 20px 70px 70px 70px;
        margin: 0 90px 0 90px;
    }

    /*IMG-PORTRAIT*/
    #img-portrait img {
        width: 80%;
        padding: 20px 10px 20px 10px;
    }

    #img-portrait {
        text-align: center;
    }
}





/***************DESKTOP*************/

@media screen and (min-width: 1024px) {


    /**************FIRST-QUOTE**********/

    #first-quote {
        background-image: url("../images/Sfondo.jpg");

justify-content:space-around;
    }


    .content-thomas {

        margin: 0 20px;
        display: flex;
        flex-direction: row;
        max-width: 100%;

    }


    .content-thomas h2,
    p {
        color: var(--text-color1);
    }


    .title-first-quote {
        max-width: 100%;
margin-right: 100px;

display: flex;
justify-content: space-around;
align-items: center;

    }

    .title-first-quote h2 {
        font-size: var(--title-sizeD);
        padding: 90px 20px 10px 10px;
        text-align: end;
      /**flex-direction: row;**/
      flex-grow: 2;

    }



    .p-first-quote{
        margin: 30px 20px 0 30px;
        max-width: 100%;
    }

    .p-first-quote p {
        font-size: var(--p-sizeD);
        padding: 20px 10px 10px 20px;
        text-align: start;

    }


    /*IMG-PORTRAIT*/

    #img-portrait {
        text-align: center;
        margin-top: 30px;
        margin-right: 50px;
        max-width: 50%;
        justify-content: space-around;
        align-items: center;
        display: flex;
    }

    #img-portrait img {
        max-width: 80%;
        padding: 10px 0 30px 30px;
        margin-left: 20px;
        margin-bottom: 90px;
        margin-right: -10px;
        margin-top: -30px;



        
    }
}