

@media screen and (max-width: 767px) {

   
   /************WHO-ARE-WE************/


    /*CONTENT*/



    #who-are-we {
       
                 min-height: 150vh;
    }


    .content-who-are-we {
padding: 60px 55px 60px 55px;
      flex-direction: column-reverse;    
      display: flex;
    }


    .content-who-are-we h2,
    p {
        text-align: center;
      
    }

    h2.title-who-are-we  {
        font-size: 2.3em;
        text-align: center;
        margin-bottom: 40px;
    }

    .p-who-are-we p {
        font-size: 1.2em;
       
    
    }

    /*IMG-PORTRAIT*/
    #img-children img {
        width: 100%;
        margin-top: 70px;
    }

    #img-children {
        text-align: center;
      
    }



}



@media screen and (min-width: 768px) and (max-width: 1023px) {


    /************WHO-ARE-WE************/


    /*CONTENT*/



    #who-are-we{
        margin: 100px 0 100px 0;
    }

    .content-who-are-we p,
    h2 {
        color: var(--text-color1);

    }


    .content-who-are-we {
        display: flex;
        flex-direction: column;
    }


    .titleSection3 h2 {
        font-size: var(--title-sizeT);
        text-align: center;
        padding: 50px 25px 25px 25px;
        margin-bottom: 0;
        margin-top: 70px;
    }

    .content-who-are-we p {
        text-align: start;
        font-size: var(--p-sizeT);
        padding: 20px 60px 50px 60px;

    }


    /*IMG-CHILDREN*/
    .img-children img {
        width: 90%;
        padding: 10px 25px 0 25px;


    }

    .img-children {
        text-align: center;

    }

}




@media screen and (min-width: 1024px) {

    /***************WHO-ARE-WE****************/

    /*CONTENT*/


    #who-are-we{
        display: flex;
        justify-content: center;
    align-items: center;
    }
    
    .content-who-are-we{
        min-height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
h2.title-who-are-we {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

    .p-who-are-we{
        max-width: 700px;
     padding: 0 70px 50px 0;
        font-size: 1.5em;
    
    }

    #img-children img{
        max-width: 80%;
        margin-top: 40px;
    }

    #img-children{
        padding-left: 90px;
    }

}