

@media screen and (max-width: 767px) {

   
   /************WHO-ARE-WE************/


    /*CONTENT*/



    #who-are-we {
       
                 min-height: 150vh;
    }


    .content-who-are-we {
padding: 60px 55px 60px 55px;
      flex-direction: column-reverse;    
      display: flex;
    }


    .content-who-are-we h2,
    p {
        text-align: center;
      
    }

    h2.title-who-are-we  {
        font-size: 2.9em;
        text-align: start;
        margin-bottom: 40px;
    }

    .p-who-are-we p {
        font-size: 1.1em;
       text-align: start;
    
    }

    /*IMG-PORTRAIT*/
    #img-children img {
        width: 100%;
        margin-top: 70px;
    }

    #img-children {
        text-align: center;
      
    }



}



@media screen and (min-width: 768px) and (max-width: 1023px) {


    /************WHO-ARE-WE************/


    /*CONTENT*/



    #who-are-we {
       
        min-height: 150vh;
}


.content-who-are-we {
padding: 60px 55px 60px 55px;
flex-direction: column-reverse;    
display: flex;
}




h2.title-who-are-we  {
font-size: 3.5em;
text-align: start;
margin-bottom: 40px;
}

.p-who-are-we p {
font-size: 1.2em;
text-align:start;


}

/*IMG-PORTRAIT*/
#img-children img {
width: 100%;
margin-top: 70px;
}

#img-children {
text-align: center;

}

}




@media screen and (min-width: 1024px) {

    /***************WHO-ARE-WE****************/

    /*CONTENT*/


    #who-are-we{
        display: flex;
        justify-content: center;
    align-items: center;
    }
    
    .content-who-are-we{
        min-height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
h2.title-who-are-we {
    text-align: center;
    font-size: 2.7em;
    margin-bottom: 20px;
}

    .p-who-are-we{
        max-width: 700px;
     padding: 0 70px 50px 0;
        font-size: 1.3em;
        max-width: 50%;
    
    }

    #img-children img{
        max-width: 90%;
        margin-top: 40px;
    }

    #img-children{
        padding-left: 90px;
        max-width: 60%;
    }

}