
@media screen and (max-width: 767px) {

    /***************SECOND-QUOTE************/

#second-quote{
    min-height: 100vh;
}

    .content-second-quote {
        display: flex;
        flex-direction: column;
   
    }

    .p-second-quote {
         padding: 10px 40px 50px 40px;
    }

    .p-quote-main  p{
        text-align: start;
        font-size: 1.6em;
       
    }


    .p-author-quote{
        margin-top: 20px;
    }

    .p-author-quote p {
        text-align: start;
        font-size: 1em;
        text-transform: uppercase;
    }



    /******IMG*****/

    #img-children-second-quote {
        text-align: center;
        margin-top: 90px;
        margin-bottom: 30px;
    }

    #img-children-second-quote img {
        width: 90%;
        padding: 10px 25px 0 25px;

    }

}





@media screen and (min-width: 768px) and (max-width: 1023px) {



    /***************SECOND-QUOTE************/



       #second-quote {
        min-height: 140vh;
}

    .p-author-quote{
        margin-top: 20px;
        
    }

    .p-author-quote p {
        text-align: center;
        font-size: 1em;
        text-transform: uppercase;
   
        
       }


.content-second-quote {
padding: 90px 47px 60px 47px;
flex-direction: column;    
display: flex;

}


.p-quote-main{
    margin-top: 30px;
 
}

.p-quote-main p {
font-size: 2em;
text-align: center;
padding: 0 70px 0 70px;
}



/*IMG-PORTRAIT*/
#img-children-second-quote img {
width: 88%;

}

#img-children-second-quote {
text-align: center;

}


}


@media screen and (min-width: 1024px) {


    /************SECOND-QUOTE*************/


    #second-quote{
        display: flex;
        justify-content: center;
    align-items: center;
    }
    
    .content-second-quote{
        min-height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }


    .p-second-quote, .p-author-quote{
        max-width: 700px;
     padding: 0 60px 0 0;
 

    }   

    .p-quote-main p{
          font-size: 2.2em;
    }
   

    .p-author-quote{
        margin-top: 50px;
        
    }

    .p-author-quote p {
        text-align: start;
        font-size: 1.3em;
        text-transform: uppercase;
        padding-bottom: 30px;
       }

 

    #img-children-second-quote img{
        max-width: 89%;
       
    }

    #img-children-second-quote{
        padding-left: 70px;
        max-width: 60%;
    }

}