

@media screen and (max-width: 767px) {

   
   /************WHO-ARE-WE************/


    /*CONTENT*/



    #who-are-we {
        min-height: 150vh;
        background-color: rgb(240, 240, 240);
    }


    .content-who-are-we {
padding: 100px 55px 60px 55px;
      flex-direction: column-reverse;    
      display: flex;
      color: rgb(33, 33, 33);
    }


    .content-who-are-we h2,
    p {
        text-align: center;
      
    }

    h2.title-who-are-we  {
        font-size: 3.3em;
        text-align: start;
        margin-bottom: 40px;
    }

    .p-who-are-we p {
        font-size: 1.1em;
       text-align: start;
    
    }

    /*IMG-PORTRAIT*/
    #img-children img {
        width: 100%;
        margin-top: 70px;
        border-radius: 50%;
    }

    #img-children {
        text-align: center;
      
    }



}



@media screen and (min-width: 768px) and (max-width: 1023px) {


    /************WHO-ARE-WE************/


    /*CONTENT*/

    #who-are-we {
       
        min-height: 170vh;
        background-color: rgb(240, 240, 240);
     
}


.content-who-are-we {
padding: 100px 90px 60px 90px;
flex-direction: column-reverse;    
display: flex;
color: rgb(33, 33, 33);
}




h2.title-who-are-we  {
font-size: 3.9em;
text-align: start;
margin-bottom: 40px;
}

.p-who-are-we p {
font-size: 1.2em;
text-align:start;


}

/*IMG-PORTRAIT*/
#img-children img {
width: 80%;
margin-top: 100px;
border-radius: 50%;
}

#img-children {
text-align: center;

}

}




@media screen and (min-width: 1024px) {

    /***************WHO-ARE-WE****************/

    /*CONTENT*/


    #who-are-we{
        display: flex;
        justify-content: center;
    align-items: center;
    min-height: 130vh;
    background-color: rgb(240, 240, 240);
    }
    
    .content-who-are-we{
      height: 85vh;
    width: 79%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: rgb(33, 33, 33);
   
   /** background-color: var(--body-color);
    background: linear-gradient(180deg, #b48f5b 11%, rgb(156, 108, 74) 100%);
   
    border-radius: 5%;
    box-shadow:  0 0 20px 1px rgb(127, 127, 127);**/
   
    }
    
    
h2.title-who-are-we {
   
    font-size: 3.2em;
    margin-bottom: 50px;
       
}


h2.title-who-are-we, .p-who-are-we p{
    text-shadow: rgba(69, 69, 69, 0.855) .5px .5px 1.2px;
}


    .p-who-are-we{
        min-width: 20%;
     padding: 0 30px 50px 30px;
        font-size: 1.2em;
        max-width: 50%;
        
    }

    #img-children img{
        max-width: 100%;
        margin-top: 40px;
        border-radius: 50%;
    }

    #img-children{
        padding-left: 20px;
        max-width: 88%;
        margin-right: 70px;
    }

}

/******MONITOR***

h2.title-who-are-we{
    font-size: 4.2em;
}

.p-who-are-we p{
    font-size: 1.5em;
}****/